{
  "openapi": "3.0.4",
  "info": {
    "title": "Merged OpenAPI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pinecone.io",
      "description": "Production API endpoints"
    },
    {
      "url": "https://api.pinecone.io/assistant",
      "description": "Production API endpoints"
    },
    {
      "url": "https://{assistant_host}",
      "variables": {
        "assistant_host": {
          "default": "unknown",
          "description": "The host of the created assistant"
        }
      }
    },
    {
      "url": "https://prod-1-data.ke.pinecone.io/assistant",
      "description": "Evaluation US Production API endpoints"
    },
    {
      "url": "https://prod-eu-data.ke.pinecone.io/assistant",
      "description": "Evaluation EU Production API endpoints"
    },
    {
      "url": "https://{index_host}",
      "variables": {
        "index_host": {
          "default": "unknown",
          "description": "host of the index"
        }
      }
    },
    {
      "url": "https://login.pinecone.io"
    }
  ],
  "paths": {
    "/admin_2026-04/admin/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "description": "List all projects in an organization.",
        "operationId": "admin_2026_04_list_projects",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a new project",
        "description": "Creates a new project.",
        "operationId": "admin_2026_04_create_project",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the new project.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The project was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "index-metric-validation-error": {
                    "summary": "Validation error",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Bad request. The request body included invalid request parameters."
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin_2026-04/admin/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "description": "List all organizations associated with an account.",
        "operationId": "admin_2026_04_list_organizations",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of organizations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin_2026-04/admin/projects/{project_id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get project details",
        "description": "Get details about a project.",
        "operationId": "admin_2026_04_fetch_project",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of a project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "description": "Delete a project and all its associated configuration.\nBefore deleting a project, you must delete all indexes, assistants, backups, and collections associated with the project. Other project resources, such as API keys, are automatically deleted when the project is deleted.\n",
        "operationId": "admin_2026_04_delete_project",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Project deletion request accepted."
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "description": "Update a project's configuration details.\nYou can update the project's name, maximum number of Pods, or enable encryption with a customer-managed encryption key (CMEK).\n",
        "operationId": "admin_2026_04_update_project",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Project details to be updated. Fields that are omitted will not be updated.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The project was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "index-metric-validation-error": {
                    "summary": "Validation error",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Bad request. The request body included invalid request parameters."
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin_2026-04/admin/organizations/{organization_id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organization details",
        "description": "Get details about an organization.",
        "operationId": "admin_2026_04_fetch_organization",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of an organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Organizations"
        ],
        "summary": "Delete an organization",
        "description": "Delete an organization and all its associated configuration.\nBefore deleting an organization, you must delete all projects (including indexes, assistants, backups, and collections) associated with the organization.\n",
        "operationId": "admin_2026_04_delete_organization",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Organization deletion request accepted."
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update an organization",
        "description": "Update an organization's name.\n",
        "operationId": "admin_2026_04_update_organization",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Organization details to be updated.\n",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrganizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The organization was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "index-metric-validation-error": {
                    "summary": "Validation error",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Bad request. The request body included invalid request parameters."
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin_2026-04/admin/projects/{project_id}/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "description": "List all API keys in a project.",
        "operationId": "admin_2026_04_list_project_api_keys",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of API keys.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApiKeysResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create an API key",
        "description": "Create a new API key for a project. Developers can use the API key to authenticate requests to Pinecone's Data Plane and Control Plane APIs.\n",
        "operationId": "admin_2026_04_create_api_key",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the new API key.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "API key created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKeyWithSecret"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "index-metric-validation-error": {
                    "summary": "Validation error",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Bad request. The request body included invalid request parameters."
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not enough available quota to complete this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin_2026-04/admin/api-keys/{api_key_id}": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "Get API key details",
        "description": "Get the details of an API key, excluding the API key secret.",
        "operationId": "admin_2026_04_fetch_api_key",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The details of the API key, excluding the API key secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete an API key",
        "description": "Delete an API key from a project.",
        "operationId": "admin_2026_04_delete_api_key",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "API key deletion request accepted."
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Update an API key",
        "description": "Update the name and roles of an API key.\n",
        "operationId": "admin_2026_04_update_api_key",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Updated name and roles for the API key.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAPIKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API key updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "index-metric-validation-error": {
                    "summary": "Validation error",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Bad request. The request body included invalid request parameters."
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Unexpected error on request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assistant_control_2026-04/assistants": {
      "get": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "List assistants",
        "description": "List of all assistants in a project.\n\nFor guidance and examples, see [Manage assistants](https://docs.pinecone.io/guides/assistant/manage-assistants#list-assistants-for-a-project).",
        "operationId": "assistant_control_2026_04_list_assistants",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit on the number of assistants to return. Default is 50. Minimum is 1. Maximum is 100.",
            "schema": {
              "type": "integer"
            },
            "example": 20
          },
          {
            "name": "pagination_token",
            "in": "query",
            "description": "Pagination token to continue a previous listing operation.",
            "schema": {
              "type": "string"
            },
            "example": "dXNlcl9pZD11c2VyXzE="
          }
        ],
        "responses": {
          "200": {
            "description": "List all assistants in a project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssistantsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Create an assistant",
        "description": "Create an assistant. This is where you specify the underlying training model, which cloud provider you would like to deploy with, and more.\n\nFor guidance and examples, see [Create an assistant](https://docs.pinecone.io/guides/assistant/create-assistant)",
        "operationId": "assistant_control_2026_04_create_assistant",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          }
        ],
        "requestBody": {
          "description": "The desired configuration to create an assistant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssistantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "upload-validation-error": {
                    "summary": "Validation error on ingest",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Uploaded file can only currently be either a pdf or txt file"
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Assistant of given name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/assistant_control_2026-04/assistants/{assistant_name}": {
      "get": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Check assistant status",
        "description": "Get the status of an assistant.\n\nFor guidance and examples, see [Manage assistants](https://docs.pinecone.io/guides/assistant/manage-assistants#get-the-status-of-an-assistant)",
        "operationId": "assistant_control_2026_04_get_assistant",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant to get a status on.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-model"
          }
        ],
        "responses": {
          "200": {
            "description": "Poll request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Assistant"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Assistant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "assistant-not-found": {
                    "summary": "Assistant not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Assistant \"example-assistant\" not found."
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Delete an assistant",
        "description": "Delete an existing assistant.\n\nFor guidance and examples, see [Manage assistants](https://docs.pinecone.io/guides/assistant/manage-assistants#delete-an-assistant)",
        "operationId": "assistant_control_2026_04_delete_assistant",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant to delete.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-assistant"
          }
        ],
        "responses": {
          "200": {
            "description": "The request to delete the assistant has been accepted."
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Assistant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "assistant-not-found": {
                    "summary": "Assistant not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Assistant \"example-assistant\" not found."
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_control_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Update an assistant",
        "description": "Update an existing assistant. You can modify the assistant's instructions.\n\nFor guidance and examples, see [Manage assistants](https://docs.pinecone.io/guides/assistant/manage-assistants#add-instructions-to-an-assistant).",
        "operationId": "assistant_control_2026_04_update_assistant",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant to update.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The desired configuration updates for the assistant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssistantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAssistantResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Assistant not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/assistant_data_2026-04/files/{assistant_name}": {
      "get": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "List Files",
        "description": "List all files in an assistant, with an option to filter files with metadata.\n\nFor guidance and examples, see [Manage files](https://docs.pinecone.io/guides/assistant/manage-files#list-files-in-an-assistant).",
        "operationId": "assistant_data_2026_04_list_files",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant to list files for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-assistant"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Optional JSON-encoded metadata filter for files.",
            "schema": {
              "type": "string",
              "format": "json"
            },
            "example": "{\"genre\":{\"$eq\":\"comedy\"}}"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit on the number of files to return.",
            "schema": {
              "type": "integer"
            },
            "example": 100
          },
          {
            "name": "pagination_token",
            "in": "query",
            "description": "Pagination token to continue a previous listing operation.",
            "schema": {
              "type": "string"
            },
            "example": "dXNlcl9pZD11c2VyXzE="
          }
        ],
        "responses": {
          "200": {
            "description": "This operation returns a list of all files that you have previously uploaded, and which are associated with the given assistant name.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFilesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Assistant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "assistant-not-found": {
                    "summary": "Assistant not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Assistant \"example-assistant\" not found."
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Upload a file",
        "description": "Upload a file to the specified assistant.\n\nAn identifier will be generated. To specify a file identifier or to replace file content, use the upsert endpoint (`PUT /files/{assistant_name}/{assistant_file_id}`).\n\nThis operation is asynchronous. The response includes an operation ID that can be used to poll for completion via the describe operation endpoint.\n\nFor guidance and examples, see [Manage files](https://docs.pinecone.io/guides/assistant/manage-files#upload-a-local-file).",
        "operationId": "assistant_data_2026_04_upload_file",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant to upload files to.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-assistant"
          },
          {
            "name": "multimodal",
            "in": "query",
            "description": "Optional flag to opt in to multimodal file processing (PDFs only). Can be either `true` or `false`. Default is `false`.",
            "schema": {
              "type": "string",
              "x-enum": [
                true,
                false
              ]
            }
          }
        ],
        "requestBody": {
          "description": "The desired file to be uploaded and processed into the assistant.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "File upload accepted. Processing has started.",
            "headers": {
              "Location": {
                "description": "URL to the operation resource for polling status.",
                "style": "simple",
                "schema": {
                  "type": "string",
                  "example": "/operations/test-assistant/op-1234-abcd"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "files-validation-error": {
                    "summary": "Validation error on ingest.",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Uploaded file can only currently be either a pdf or txt file"
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Assistant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "assistant-not-found": {
                    "summary": "Assistant not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Assistant \"example-assistant\" not found."
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assistant_data_2026-04/files/{assistant_name}/{assistant_file_id}": {
      "get": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Describe a file",
        "description": "[Get the current status and metadata of a file](https://docs.pinecone.io/guides/assistant/manage-files#get-the-status-of-a-file) uploaded to an assistant.",
        "operationId": "assistant_data_2026_04_describe_file",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant that contains the file.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-assistant"
          },
          {
            "name": "assistant_file_id",
            "in": "path",
            "description": "The identifier of the file to be described.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-file-id-123"
          },
          {
            "name": "include_url",
            "in": "query",
            "description": "Include the signed URL of the file in the response.",
            "schema": {
              "type": "string",
              "x-enum": [
                true,
                false
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Poll request successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantFileModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "file-not-found": {
                    "summary": "File not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "File with id 72490b32-46d9-4db1-b48b-666e9176d9be  not found in provided assistant"
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Upsert a file",
        "description": "Create or replace a file in the specified assistant. If a file with the given `assistant_file_id` already exists, it will be replaced with the new file. If it doesn't exist, a new file will be created with that identifier.\n\nThis operation is asynchronous. The file processing will occur in the background.\n\nFor guidance and examples, see [Manage files](https://docs.pinecone.io/guides/assistant/manage-files#upload-a-local-file).",
        "operationId": "assistant_data_2026_04_upsert_file",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant to upload files to.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-model"
          },
          {
            "name": "assistant_file_id",
            "in": "path",
            "description": "The identifier of the file to be created or replaced. Must be 1-128 characters long and consist only of alphanumeric characters, hyphens (-), or underscores (_).",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "type": "string"
            },
            "example": "my-file-id-123"
          },
          {
            "name": "multimodal",
            "in": "query",
            "description": "Optional flag to opt in to multimodal file processing (PDFs only). Can be either `true` or `false`. Default is `false`.",
            "schema": {
              "type": "string",
              "x-enum": [
                true,
                false
              ]
            }
          }
        ],
        "requestBody": {
          "description": "The desired file to be uploaded and processed into the assistant.",
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileData"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "File upload has been accepted for processing. The file will be created if it doesn't exist, or replaced if it already exists. The operation will complete asynchronously.",
            "headers": {
              "Location": {
                "description": "URL to the operation resource for polling status.",
                "style": "simple",
                "schema": {
                  "type": "string",
                  "example": "/operations/test-assistant/op-1234-abcd"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. The request body included invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "files-validation-error": {
                    "summary": "Validation error on ingest.",
                    "value": {
                      "error": {
                        "code": "INVALID_ARGUMENT",
                        "message": "Uploaded file can only currently be either a pdf or txt file"
                      },
                      "status": 400
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Assistant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "assistant-not-found": {
                    "summary": "Assistant not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Assistant \"example-assistant\" not found."
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "Delete a file",
        "description": "[Delete an uploaded file](https://docs.pinecone.io/guides/assistant/manage-files#delete-a-file) from an assistant.\n\nThis operation is asynchronous. The response includes an operation ID that can be used to poll for completion via the describe operation endpoint.",
        "operationId": "assistant_data_2026_04_delete_file",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant that contains the file.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-assistant"
          },
          {
            "name": "assistant_file_id",
            "in": "path",
            "description": "The identifier of the file to be deleted.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "my-file-id-123"
          }
        ],
        "responses": {
          "202": {
            "description": "The request to delete the file has been accepted. The deletion will be processed asynchronously.",
            "headers": {
              "Location": {
                "description": "URL to the operation resource for polling status.",
                "style": "simple",
                "schema": {
                  "type": "string",
                  "example": "/operations/test-assistant/op-1234-abcd"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationModel"
                }
              }
            }
          },
          "204": {
            "description": "The file was deleted immediately. This occurs when deleting a file that previously failed processing."
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "File not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "file-not-found": {
                    "summary": "File not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "File with id 72490b32-46d9-4db1-b48b-666e9176d9be  not found in provided assistant"
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
                    "summary": "Internal server error",
                    "value": {
                      "error": {
                        "code": "UNKNOWN",
                        "message": "Internal server error"
                      },
                      "status": 500
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assistant_data_2026-04/operations/{assistant_name}": {
      "get": {
        "tags": [
          "Manage Assistants"
        ],
        "summary": "List operations",
        "description": "List all operations for an assistant. Returns operations that are in progress, as well as recently completed or failed operations.\nBoth successful and failed operations are retained for 30 days after completion.\nUse the `operation_type` and `status` query parameters to filter results.\n",
        "operationId": "assistant_data_2026_04_list_operations",
        "parameters": [
          {
            "name": "X-Pinecone-Api-Version",
            "in": "header",
            "description": "Required date-based version header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "2026-04"
            }
          },
          {
            "name": "assistant_name",
            "in": "path",
            "description": "The name of the assistant to list operations for.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "test-assistant"
          },
          {
            "name": "operation_type",
            "in": "query",
            "description": "Filter operations by type.",
            "schema": {
              "type": "string",
              "x-enum": [
                "upload_file",
                "upsert_file",
                "update_file_metadata",
                "delete_file"
              ]
            },
            "example": "upload_file"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter operations by status.",
            "schema": {
              "type": "string",
              "x-enum": [
                "Processing",
                "Completed",
                "Failed"
              ]
            },
            "example": "Processing"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit on the number of operations to return.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "example": 100
          },
          {
            "name": "pagination_token",
            "in": "query",
            "description": "Pagination token to continue a previous listing operation.",
            "schema": {
              "type": "string"
            },
            "example": "dXNlcl9pZD11c2VyXzE="
          }
        ],
        "responses": {
          "200": {
            "description": "A list of operations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                },
                "examples": {
                  "multiple-operations": {
                    "summary": "Multiple operations with different states",
                    "value": {
                      "operations": [
                        {
                          "created_on": "2025-10-01T12:30:00Z",
                          "file_id": "my-report-2025",
                          "id": "op-1234-abcd-5678",
                          "operation_type": "upload_file",
                          "percent_complete": 42,
                          "status": "Processing"
                        },
                        {
                          "completed_on": "2025-10-01T12:05:00Z",
                          "created_on": "2025-10-01T12:00:00Z",
                          "file_id": "quarterly-analysis",
                          "id": "op-8765-dcba-4321",
                          "operation_type": "upload_file",
                          "percent_complete": 100,
                          "status": "Completed"
                        },
                        {
                          "completed_on": "2025-10-01T11:32:00Z",
                          "created_on": "2025-10-01T11:30:00Z",
                          "error_message": "File processing failed: unsupported file format.",
                          "file_id": "invalid-file",
                          "id": "op-5555-eeee-9999",
                          "operation_type": "upload_file",
                          "percent_complete": 15,
                          "status": "Failed"
                        },
                        {
                          "completed_on": "2025-10-01T11:02:00Z",
                          "created_on": "2025-10-01T11:00:00Z",
                          "file_id": "old-report",
                          "id": "op-7777-ffff-0000",
                          "operation_type": "delete_file",
                          "percent_complete": 100,
                          "status": "Completed"
                        }
                      ],
                      "pagination": {
                        "next": "dXNlcl9pZD11c2VyXzE="
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Possible causes: Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "Unauthorized",
                    "value": {
                      "error": {
                        "code": "UNAUTHENTICATED",
                        "message": "Invalid API key."
                      },
                      "status": 401
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Assistant not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "assistant-not-found": {
                    "summary": "Assistant not found.",
                    "value": {
                      "error": {
                        "code": "NOT_FOUND",
                        "message": "Assistant \"example-assistant\" not found."
                      },
                      "status": 404
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assistant_data_2026_04_ErrorResponse"
                },
                "examples": {
                  "internal-server-error": {
[...]
